nav ul{
    
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: flex-end;
    list-style-type: none;
    
}
nav li a{
    font-size: 1.5em;
    font-weight: 900;
    margin-right: 3vw;
    color: rgb(255, 0, 0);
    
}

.sous_menu{
   
    color: black!important;
    text-decoration: none;
    display:none;
    
} 
.menu a:hover {
    color: maroon;
    display:block;
    
}   
nav .menu .sous_menu a:hover {
    display:block;
    color: black;
    
}

