*{
    margin: 0;
    padding: 0;
}
.fond{
    height: 100vh;
    width: 100vw;
    background-image: url(route_ville.jpg);
    background-size: cover;
    position: relative;
}

.joebarteam img{
    position: absolute;
    bottom: 150px;
    z-index: 10;
    animation: joebar 5s infinite ease-in;
}

@keyframes joebar{
    0%{
        left: 0%;
    }
    100%{
        left: 88%;
    }
}
.police img{
    position: absolute;
    bottom:200px;
    animation: police 6s infinite linear;
    z-index: 5;
}
@keyframes police{
    0%{
        left: 0%;
    }
    100%{
        left: 88%;
    }
}
.car img{
    position: absolute;
    right: 0%;
    bottom: 240px;
    width: 15%;
    z-index: 3;
    animation: car 6s infinite linear;
}
@keyframes car{
    0%{
        right: 0%
    }
    100%{
        right: 88%;
    }
}
.helico img{
    position: absolute;
    bottom: 600px;
    animation: helico 11s linear  infinite;

}
@keyframes helico{
    0%{top: 0%; left: 0%;
    }
    50%{
        top:10%; left: 44%;
        /* width: 10%; height: auto; */
    }
    100%{top: 2%;left: 93%;
    }
}
.bus img{
    position: absolute;
    right: 0%;
    bottom: 250px;
    z-index: 2;
    width: 35%;
    height: auto;
    animation: bus 10s linear infinite;
}
@keyframes bus{
    0%{
        right: 0%
    }
    100%{
        right: 98%;
    }
}