body{
    margin:0;
    padding:0;
    width: 100%;
    height:100%;
}
section{
    background-color: rgb(87, 27, 53);
    width: 100vw;
    height:100vh;
    display:flex;
    justify-content: space-around;
    align-items: center;
}
.img{
    padding-top: 5vh;
    width: 20vw;
    height: auto;
}
.carte{
    
    width: 25vw;
    height: 55vh;
    perspective: 1000px;
}
.contenu{
    position: relative;
    width: 100%;
    height: 100%;
    text-align: center;
    transition: transform 1.5s;
    transform-style: preserve-3d;
}
.carte:hover .contenu{
    transform: rotateY(180deg);
}
.face, .dos{
    position: absolute;
    width:100%;
    height:100%;
    backface-visibility: hidden;
}
.face{
    background-color: white;
    color:black;
}
.dos{
    background-color: dodgerblue;
    color: white;
    transform: rotateY(180deg);
}
