body{
  margin: 0;
  padding: 0;
  height: 100vh;
  background-color: rgb(168, 168, 168);
}
.box{
  display: flex;
  justify-content: center;
  align-items: center;
  height:100vh;
}
img{
  width: 30vw;
  height: auto;
  padding: 0px;
  border-radius: 15px ;
  box-shadow: 10px 10px 10px rgb(0, 0, 0) ;
  transition-property: border-radius, box-shadow; 
  transition-duration: 1.5s;
  transition-timing-function: ease-out;
}
img:hover{
  border-radius: 50%;
  box-shadow: inset -20px -20px 20px  rgb(0, 0, 0) ;
  
  padding: 0px 15px 15px 0px;
  }
 
  
